# File di sistema e temporanei
.DS_Store
Thumbs.db
*.log
*.tmp
*.temp
__pycache__/
*.pyc

# Ignora dati NGS grezzi e intermedi (FASTQ, SAM, BAM, BAI)
data/

# Ignora le referenze e indici genomici locali
reference/hg38/
reference/miRBase/
annotation_files/

# Ignora tutti i risultati generati dalla pipeline
results/
